*{
    margin: 0px;
    padding: 0px;
}
body{
    width:100%;
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border:1px solid white */
    
}
nav h1{
    /* border:1px solid white; */
    margin-bottom: 10px;
    padding:10px;
    font-size: 40px;
}
nav h1 span{
    margin-left: 0px;
color:rgb(189, 20, 166);
    font-size: 40px;
}
nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    box-shadow: 0.5px 0.5px 5px 0.5px rgba(128, 128, 128, 0.527);
    padding: 20px;
    border-radius: 19px;
}
nav ul li{
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
   
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:blue
}
.sidebar{
    position: fixed;
    top: 0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color:rgba(255, 255, 255, 0.226);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display:block;
    transition: 1s ease-out;
}
.sidebar li{
    padding-top: 30px;;
    width:100%;
    margin-bottom: 40px;
}
.sidebar li a{ 
    width:100%;
    color:grey;
}
#svg1{
    display: none;
}
#profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#profile img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
}
#profile p{
    margin-bottom: 20px;
}
#profile #name{
    font-size: 24px;
    color:grey;
}
#profile #description{
    font-size: 60px;
    width:80%;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 750px;
    
}
#profile #butttons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#btn1{
    cursor: pointer;
    font-weight:bold;
    font-size: 15px;
    color: white;
    width:150px;
    height:50px;
    padding:5px 10px;
    border-radius: 25px;
    border: none;
    background-image:linear-gradient(90deg ,rgb(238, 10, 227),orange);

}
#btn2{
    cursor: pointer;
    font-weight:bold;
    font-size: 15px;
   
    width:150px;
    height:50px;
    padding:5px 10px;
    border-radius: 25px;
    border: 1px solid black;

}
#butttons #btn2:hover{
    background-color: bisque;
}
#profile #smallAbout{
    
    font-size: 20px;
    width:80%;
    margin-left: 0px;
    margin-right: 0px;
}
#aboutme{
    margin-top: 100px;
    text-align: center
}
.introduction{
    font-size: 20px;
}
.about-me{
    font-weight: 500px;
    font-size: 50px;
    margin-bottom: 20px;
}

#aboutme-container{
    margin:0 auto;
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#left-container{
    /* width:30%; */
    justify-content:end;
    /* position: relative; */
}
#right-container{
    width:60%;
    justify-content: start;
    margin-left: 40px;
}
#left-container #sanju-img{
    border-radius: 10px;
    border: 1px solid grey;
    width:300px;
}
#left-container #round-imag{
    width:150px;
    position: relative;
    border:1px solid black;
}
#left-container #round-image img{
    width:150px;
    position: absolute;
    top:165%;
    left: 28%;
    animation: rotate infinite 5s linear;
}
@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#right-container p{
    font-size: 20px;
}
#right-container #skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width:100%;
}
#skill-container .skills{
    width:170px;
    height:170px;
    padding:10px;
    border:1px solid grey;
    border-radius: 5px;
    transition: 400ms;
    
}
.skills:hover{
    background-image:linear-gradient(90deg ,rgb(238, 10, 227),orange);
    transform:scale(1.03);
    box-shadow: 1px 1px 3px 2px grey;
}
.skills svg{
    width:50px;
    height:50px;
}
.skills h3{
    margin-top: 5px;
    margin-bottom:10px;
}
#tools-container{
    margin-top: 20px;
}
#tools{
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px;
}
#tools .tools-images{
    width:40px;
    height:40px;
    border:1px solid grey;
    border-radius: 5px;
    padding:5px;
    transition:300ms;
}
.tools-images:hover{
    transform:scale(1.2);
}
#tools .tools-images img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    margin-top: 5px;
    margin-left: 3px;
}
.my-projectDes{
    font-size: 20px;
    width:90%;
    margin:0 auto;
}
#myproject-container{
    width:80%;
    margin:0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}
#project-view1{
    margin-bottom: 20px;
}
.project-view .project-background{
    height:200px;
    width:220px;
    border:1px solid black;
    border-radius: 5px;
    transition: 400ms;
    cursor: pointer;
}
.project-view #project-background1{
    background-image: url(images/ecommerce.jpeg);
    background-size:220px 200px;
    background-repeat: no-repeat;
}
.project-view #project-background2{
    background-image: url(images/blackjack.jpg);
    background-size:220px 200px;
    background-repeat: no-repeat;
}

.project-view #project-background3{
    background-image: url(images/login\ project.png);
    background-size:220px 200px;
    background-repeat: no-repeat;
}

.project-view #project-background4{
    background-image: url(images/netflix.jpg);
    background-size:220px 200px;
    background-repeat: no-repeat;
}
.project-background .main-div{
    width:95%;
    display: flex;
    justify-content: center;
    height:50px;
    background-color: white;
    margin-top: 135px;
    margin-left: 5px;
    align-items: center;
    border-radius: 5px;
}
 .p{
    color:grey;
}
.h4{
    color: black;
}
.project-background .main-div .svg-file{
    border:2px solid black;
    margin-left: 15px;
    border-radius: 50%;
    height:40px;
    width:40px;
}
.project-background .main-div .svg-file svg{
    width:32px;
    height:32px;
    margin-top: 4px;
}
.project-background:hover{
    .main-div{
        transform: scale(1.03);
        box-shadow: 1px 1px 5px 1px black;
    }
    .svg-file{
        background-color: greenyellow;
        box-shadow: 1px 1px 1px 1px black;
    }
    .svg-file svg{
        transform: rotate(20deg);
    }
}
#contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width:95%;
}

#pitems{
    text-align: center;
    width:100%;
}
#e-w{
    text-align: center;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
#e-w img{
    width:60px;
    height:60px;
    /* border:1px solid grey; */
    border-radius: 50%;
    padding:5px;
    transition:300ms;
    cursor: pointer;
}
#e-w img:hover{
transform: scale(1.09);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
footer h5{
    font-size: 17px;
}
footer a{
   text-decoration: none;
   color:grey;
}
footer a:hover{
    color:blue;
}
#uparrow{
/* margin-left: ; */
position: relative;
/* height:30px; */
}
#uparrow svg{
    position: fixed;
    border:1px solid grey;
    border-radius: 50%;
    top:70%;
    left:90%;
    margin-right: 20px;
    background-color: grey;
}
@media(max-width:1280px){
    #left-container #round-image img{
        width:150px;
        position:absolute;
        left:69%;
        top: -100%;
    }
    #left-container #round-image{
        width:100%;
        height: 105px;
        /* border:1px solid black; */
        position:relative;
    }
}
@media(max-width:1275px){
    #aboutme-container{
        display: flex;
        flex-direction: column;
        width:80%;
    }
    #right-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        width:100%;
        margin-left: 0px;
    }
    #left-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        
    }
    #left-container #sanju-img{
        width:150px;
       
    }
    #left-container #round-image img{
        width:100px;
        position:absolute;
        left:53%;
        top: -180%;
    }
    #left-container #round-image{
        width:100%;
        height: 35px;
        /* border:1px solid black; */
        position:relative;
    }

   #skill-container .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
         width:220px;
    }
    #tools-container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

@media(max-width:800px){
    nav #hideonMobile{
        display: none;
    }
    #svg1{
        display: block;
        margin-left: 10px;
    }
    #theme{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #profile #description{
        font-size: 30px;
        width:80%;
        margin-left: 0px;
        margin-right: 0px;
        font-weight: 750px;
        
    }
    nav h1{
        font-size: 30px;
        margin-top: 0px;
    }
    #theme #dark{
        width:30px;
        height: 30px;
    }
    #theme #light{
        width:30px;
        height:30px;
    }
    
    .about-me{
        font-weight: 500px;
        font-size: 30px;
    }
    .my-projectDes{
        font-size: 15px;
        width:100%;
        margin:0 auto;
    }
    
}
@media(max-width:575px){
    #pitems{
        margin:0 auto;
        width:80%;
    }
    #portfolio-review{
        width:80%;
    }
    #myproject-container{
        width:100%;
    }
    .project-view{
        width:100%;
        /* border:1px solid green; */
    }
    .project-view .project-background{
        height:140px;
        width:160px;
        /* border:6px solid red; */
        border-radius: 5px;
        transition: 400ms;
        cursor: pointer;
    }
    .project-view #project-background1{
        background-image: url(images/ecommerce.jpeg);
        background-size:160px 140px;
        background-repeat: no-repeat;
    }
    .project-view #project-background2{
        background-image: url(images/blackjack.jpg);
        background-size:160px 140px;
        background-repeat: no-repeat;
    }
    
    .project-view #project-background3{
        background-image: url(images/login\ project.png);
        background-size:160px 140px;
        background-repeat: no-repeat;
    }
    
    .project-view #project-background4{
        background-image: url(images/netflix.jpg);
        background-size:160px 140px;
        background-repeat: no-repeat;
    }
    .project-background .main-div{
        width:95%;
        display: flex;
        justify-content: center;
        height:30px;
        background-color:white;
        margin-top: 100px;
        margin-left: 2.9px;
        /* margin-right: 20px; */
        align-items: center;
        border-radius: 5px;
    }
     .p{
        color:grey;
        font-size: 10px;
    }
    .h4{
        font-size: 10px;
        color: black;
    }
    .project-background .main-div .svg-file{
        border:2px solid black;
        margin-left: 15px;
        border-radius: 50%;
        height:20px;
        width:20px;
    }
    .project-background .main-div .svg-file svg{
        width:19px;
        height:19px;
        margin-top: 1px;
    }
    #right-container p{
        font-size: 15px;
    }
}
@media(max-width:400px){
    .sidebar{
        width:90%;
    }
    #profile #butttons{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    footer h5{
        font-size: 13px;
    }
}
